<!DOCTYPE html>

{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Olympyo - login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}home/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form method="post" action="{% url 'auth_login' %}" class="form-signin" role="form">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.username|bootstrap }}
        {{ form.password|bootstrap }}  
        <!-- <input type="email" class="form-control" placeholder="Email address" required autofocus> -->
        <!-- <input type="password" class="form-control" placeholder="Password" required> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <p>{% blocktrans %}
              <a href="{{ auth_pwd_reset_url }}">Forgot</a> your password?
              <a href="{{ register_url }}">Need an account</a>?
              {% endblocktrans %}
          </p>
          {% if form.errors %}
        <p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
          {% endif %}
        <input type="hidden" name="next" value="{{ next }}" />
        </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
{% endblock %}