<!DOCTYPE html>

{% load staticfiles %}
{% url 'auth_logout' as logout_url%}


<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Olympyo</title>

    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}game/css/less.css">
    <link rel="stylesheet" href="{{STATIC_URL}}game/css/game_objects.css">
    
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/retina-1.1.0.min.js"></script>
    <script src="{{STATIC_URL}}js/defaults.js"></script>

</head>
<body>

    <header id="header" class="container">
        <h1 id="branding" class="row">Olympyo</h1>
    </header>

    <nav id="gui"></nav>

    <div id="content" class="container">
        <div id="row1" class="row">
            <a href="?game_object_id={{ display_objects.0.id }}" id="{{ display_objects.0.id }}" class="col-sm-3 layout-object {{ display_objects.0.game_object.game_object.arch_game_object }}"> 
                
            </a>
            <a href="?game_object_id={{ display_objects.1.id }}" id="{{ display_objects.1.id }}" class="col-sm-3 layout-object {{ display_objects.1.game_object.game_object.arch_game_object }}">

            </a>
            <a href="?game_object_id={{ display_objects.2.id }}" id="{{ display_objects.2.id }}" class="col-sm-3 layout-object {{ display_objects.2.game_object.game_object.arch_game_object }}">

            </a>
            <a href="?game_object_id={{ display_objects.3.id }}" id="{{ display_objects.3.id }}" class="col-sm-3 layout-object {{ display_objects.3.game_object.game_object.arch_game_object }}">
            
            </a>
        </div>
        <div id="row2" class="row">
            <div class="col-sm-3">
                <div class="row">
                    <a href="?game_object_id={{ display_objects.4.id }}" id="{{ display_objects.4.id }}" class="col-sm-12 layout-object {{ display_objects.4.game_object.game_object.arch_game_object }}">
                    </a>
                </div>
                <div class="row">
                    <a href="?game_object_id={{ display_objects.6.id }}" id="{{ display_objects.6.id }}" class="col-sm-12 layout-object {{ display_objects.6.game_object.game_object.arch_game_object }}">
                    </a>
                </div>
            </div>
            <div id="logo" class="col-sm-6 text-right logo">
                {% for el in centre_display %}
                    {{ el.0 }} <span class="badge">{{ el.1 }}</span><br />
                {% endfor %}              
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <a href="?game_object_id={{ display_objects.5.id }}" id="{{ display_objects.5.id }}" class="col-sm-12 layout-object {{ display_objects.5.game_object.game_object.arch_game_object }}">
                    </a>
                </div>
                <div class="row">
                    <a href="?game_object_id={{ display_objects.7.id }}" id="{{ display_objects.7.id }}" class="col-sm-12 layout-object {{ display_objects.7.game_object.game_object.arch_game_object }}">
                    </a>
                </div>
            </div>
        </div>
        <div id="row3" class="row">
            <a href="?game_object_id={{ display_objects.8.id }}" id="{{ display_objects.8.id }}" class="col-sm-3 layout-object {{ display_objects.8.game_object.game_object.arch_game_object }}">

            </a>
            <a href="?game_object_id={{ display_objects.9.id }}" id="{{ display_objects.9.id }}" class="col-sm-3 layout-object {{ display_objects.9.game_object.game_object.arch_game_object }}">

            </a>
            <a href="?game_object_id={{ display_objects.10.id }}" id="{{ display_objects.10.id }}" class="col-sm-3 layout-object {{ display_objects.10.game_object.game_object.arch_game_object }}">

            </a>
            <a href="?game_object_id={{ display_objects.11.id }}" id="{{ display_objects.11.id }}" class="col-sm-3 layout-object {{ display_objects.11.game_object.game_object.arch_game_object }}">
            
            </a>
        </div>
    </div>

    <footer id="footer">
        <div id="hud" class="container">
            <div id="static-bar" class="row">
                <div id="hud-action-log" class="col-sm-4">
                    <div id="notifications">
                        <span class="label label-default">11:05:36</span> This is the latest notice.
                    </div>
                </div>
                <div id="hud-timer" class="col-sm-4">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="1603" aria-valuemin="0" aria-valuemax="3600" style="width: 60%;">26:42</div>
                    </div>
                </div>
                <div id="hud-player-stats" class="col-sm-4 text-center">
                    {% for attribute in player_stats %}
                    {{ attribute.attribute|capfirst }} <span class="badge">{{ attribute.value }}  </span>
                    {% endfor %}
                </div>
            </div>
            <div id="hud-object-stats" class="row">
                <div class="col-sm-3">
                    <h5 class="text-center">Autonomous objects</h5>
                    <ul class="list-group">
                    {% for auto_object in autonomous_objects %}
                        <li class="list-group-item">
                            <a href="?game_object_id={{ auto_object.id }}" id="{{ auto_object.id }}">{{ auto_object.game_object|capfirst }} </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5 class="text-center">Selected object</h5>
                    <div id='selected-object' class='text-center img-circle {{ game_object.game_object.game_object.arch_game_object }}'>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h5 class="text-center">Object attributes</h5>
                    <ul class="list-group">
                        {% for attribute in game_object.attribute_values.all %}
                        <li class="list-group-item">{{ attribute.attribute }}<span class="badge">{{ attribute.value }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5 class="text-center">Actions available on object</h5>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputAction1" class="col-sm-4 control-label">Set wage</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputAction1" placeholder="1.5">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-default">Commit</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAction2" class="col-sm-4 control-label">Work</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputAction2" placeholder="Yes">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-default">Commit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <a href="{{ logout_url }}">Logout</a> -->
    </footer>
    
    <!--
    <script type="text/javascript">
        $(function(){
            $('#content').slimScroll({
                height: '250px'
            });
        });
    </script>
    -->
</body>
</html>