@font-face
{
font-family: titleFont;
src: url(title.ttf);
}

div{
text-align:center;
}
/*IE centering*/
body{
text-align:center;
}
#covMain{
position:relative; top:25px; height:450px; width:500px; margin-left:auto; margin-right:auto; background:white;
}
	#covMz1of3{
	height:300px;
	font-size:57px;
	
	}
		/* Turn color back on to restore title */
		#covM1zTitle{
		padding-bottom:10px; font-family:titleFont; font-weight:bold;
		}
		#covM1zLogo{
		height:250px;
		border:0px; background:url(mountain.png) no-repeat center; background-color:white;
		}
		#covM1zLogo:hover{
		}
	#covMzDesc{
	height:30px;
	}
	#covMz3of3{
	height:20px;
	}